html {
    font-family: 'Merriweather', serif;
}

h1, h2 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1.3;
  }

h3 {
    font: bold rubik, sans-serif;
}

dt {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: .75rem;
    text-decoration: underline;
}

p.text-decorations {
    font-family: 'Abel', sans-serif;    
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    text-indent: 1em;
    text-shadow: 2px -4px 6px purple;
}

a {
  color: rgb(17, 63, 213);
  text-decoration: none;
}

a:visited {
  color: limegreen;
}

a:hover {
  color: rgb(65, 135, 39);
}

a:focus {
  color: blue;
}

a:active {
  color: rgb(86, 86, 118);
}

div {
    margin: 10px 20px 30px 40px;
    padding: 10px 20px 30px 40px;
    color: rgb(19, 119, 86);
}

